.highlight {
    border: 1px dashed rgba(255,0,0,.7);
    background-color: yellow;
}

.button + .button {
    margin-left: 1rem;
}

.phrase {
    padding: 0.5rem;
    border: 1px dashed #d0d0d0;
    margin: 1rem 0;
}

.revealed {
    font-family: 'Courier New', Courier, monospace;
}

.phrase code {
    display: none;
}

.phrase.revealed code {
    display: inline-block;
}
