:host {
    display: flex;
    flex-wrap: wrap;
}

.full {
    border: none;
    margin: 0 0 1rem 0;
    padding: 0;
    flex: 1 1 100%;
}

.card {
    flex: 1 1 48%;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 2px;
    padding: 0 .5rem;
}

.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg code {
    background-color: #fff;
}
